*{   
    box-sizing:border-box;
 }
html body{
    width: 80%;
    margin:auto;
    margin-top: 2%;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
    color:#2b2b2b;
}
#contenedor {
    padding: 0;
    width: 87rem;
}

ul, ol{
    list-style: none;
}
.div-img-funko {
    background-color: #2b2b2b;
    width: 82rem;
    height: 9rem;
    margin:0;
    padding:1.5rem;
}
.img-funko{
    width: 20rem;
    height:7rem;
    margin-top: 0;
    margin-left: 2rem;                
    padding: 2rem;
}

.nav-ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:0;
}
nav ul{
    margin-top: 1.7rem;
} 
.li-item1-shop{
    width: 3.4rem;
    margin-top: -6rem;
    margin-left:51rem;    
    font-size: 0.88rem;
    
}
.li-item2-contacto{
    width: auto;
    margin-top: -1.01rem;
    margin-left:59rem;    
    font-size: 0.9rem;
}
.li-item3-login{
    width: auto;
    margin-top: -1rem;
    margin-left:68rem;    
    font-size: 0.9rem;
}
.li-item4-carrito{
    width: auto;
    margin-top: -1rem;
    margin-left:75rem;    
    font-size: 0.9rem;
}
 ul a{
    text-decoration: none;
    color:white;
}
div aside{
    display: inline-block;
    margin-top:5rem;
    margin-left:4rem;
}
.ancho-precio input{
    width: 55px;
    border-radius: 5px;
}
.ancho-precio p{
    display: inline-block;
}

section{
    margin-top:0.5rem;
    margin-left: 24rem;
    width: auto;
    
    
}
/* trooper*/
.div-img{
    margin-left: -5.2rem;
    margin-top: -20rem;
    height: 21rem;
    width: 1rem;
    
}
.img-toy{    
    height: 220px;
    width: 220px;
}
.title-img-trooper{
    
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    width: 5rem;
}
section div .name-toy{
    font-size: 1rem; 
    width: 13rem;   
}
.price-toy{
    width: 4rem;
    font-size: 0.8rem;    
}
.cuotas-toy{
    width: max-content;   
}
.cuotas-toy a{
    font-size: 0.8rem;
    color: blue;
    text-decoration: none;
}
.div-img input{
    background-color: red;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-left: 160px;
    margin-top: 0px;
    color: white;
    border: 0;
}
/* end trooper*/

/* Pidgeotto*/
.div-img-pidgeotto{
    margin-left: 15rem;
    margin-top: -20.7rem;
    height: 21rem;
    width: 2rem;    
}
.div-img-pidgeotto input{
    background-color: red;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-left: 160px;
    margin-top: -500px;
    color: white;
    border: 0;
}
.div-img-pidgeotto .title-img{
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 11.5px;
}

.div-img-pidgeotto strong{
    font-size: 14px; 
    margin-top: -1px;        
 }
/* luna */
 .div-img-luna{    
    margin-left: 36rem;
    margin-top: -21rem;
    height: 21rem;
    width: 14rem;    
 }
  .div-img-luna input{
    background-color: red;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-left: 167px;
    margin-top: -500px;
    color: white;
    border: 0;
}
 .img-toy-luna{    
    height: 13rem;
    width: 14rem;
}
.div-img-luna p{
    margin:0;
}
.div-img-luna .title-img{
    margin-top: 10px;
    margin-bottom: 3px;
           
}
.div-img-luna p strong {
    font-size: 14px; 
    margin-top: 0px;       
}
.div-img-luna .price-toy{
      margin-top: 7px;
      margin-bottom: 4px;
}

/* luna 2 */
.div-img-luna2{
    margin-left: -6rem;
    margin-top: 6rem;
    height: 21rem;
    width: 15rem;    
 }
  .div-img-luna2 input{
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
    margin-left:11rem;
    margin-top: 0px;
    color: white;
    border:0;
    background-color: red;
}
.img-toy-luna{    
    height: 220px;
    width: 220px;
}
.div-img-luna2 p{
    margin:0;
}
.div-img-luna2 .title-img{
    margin-top: 10px;
    margin-bottom: 3px;
           
}
.div-img-luna2 p strong {
    font-size: 14px; 
    margin-top: 0px;       
}
.div-img-luna2 .price-toy{
      margin-top: 7px;
      margin-bottom: 4px;
}

/* pidgeotto2*/
.div-img-pidgeotto2{
    margin-left: 16rem;
    margin-top: -20.7rem;
    height: 20.5rem;
    width: 242px;
    
}
.div-img-pidgeotto2 input{
    background-color: red;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-left: 160px;
    margin-top: 0px;
    color: white;
    border: 0;
}
.div-img-pidgeotto2 .title-img{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    margin-top: 11.5px;
    margin-bottom: 9px;
}

.div-img-pidgeotto2 strong{
    font-size: 14px; 
    margin-top: 0px;        
 }
 
/* trooper*/
.div-img2{
    
    margin-left: 37rem;
    margin-top: -20.7rem;
    height: 21rem;
    width: 13rem;
    
    
}
.img-toy{    
    height: 220px;
    width: 220px;
}
.title-img{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}
section div .name-toy{
   font-size: 14px; 
   margin-top: -5px;
   
}
.price-toy{
    font-size: 12px;
    margin-top: -7px;
}
.cuotas-toy{
    margin-top: -8px;
}
.cuotas-toy a{
    font-size: 8px;
    text-decoration: none;
}
.div-img2 input{
    background-color: red;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-left: 160px;
    margin-top: -450px;
    color: white;
    border: 0;    
}
/* end trooper*/

/* pidgeotto3*/
.div-img-pidgeotto3{
    margin-left: -6rem;
    margin-top: 5rem;
    height: max-content;
    width: 13rem; 
    padding: 0;    
}
.div-img-pidgeotto3 input{
    background-color: red;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-left: 160px;
    margin-top: 0px;
    color: white;
    border: 0;
}
.div-img-pidgeotto3 .title-img{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    margin-top: 11.5px;
}

.div-img-pidgeotto3 strong{
    font-size: 14px; 
    margin-top: -1px;        
 }
 /* trooper3*/
.div-img3{
    margin-left: 15rem;
    margin-top: -20.7rem;
    height: 21rem;
    width: 13.5rem;
}
.div-img3 .img-toy{    
    height: 220px;
    width: 220px;
    margin-left: 20px;
    margin-top: 0;    
}
.div-img3 .title-img{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}
.div-img3 .name-toy{
   font-size: 14px; 
   margin-top: -5px;
   
}
.div-img3 .price-toy{
    font-size: 12px;
    margin-top: -7px;
}
.div-img3 .cuotas-toy{
    margin-top: -8px;
}
.div-img3 .cuotas-toy a{
    font-size: 8px;
    text-decoration: none;
}
.div-img3 input{
    background-color: red;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-left: 170px;
    margin-top: -450px;
    color: white;
    border: 0;
}
/* end trooper3*/

/* luna3 */
.div-img-luna3{
    margin-left: 37rem;
    margin-top: -21.5rem;
    height: 20rem;
    width: 14rem;
 }
  .div-img-luna3 input{
    background-color: red;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-left: 167px;
    margin-top: 0px;
    color: white;
    border: 0;
}
.div-img-luna3 .img-toy-luna{    
    height: 220px;
    width: 220px;
}
.div-img-luna3 p{
    margin:0;
}
.div-img-luna3 .title-img{
    margin-top: 10px;
    margin-bottom: 3px;
           
}
.div-img-luna3 p strong {
    font-size: 14px; 
    margin-top: 0px;       
}
.div-img-luna3 .price-toy{
      margin-top: 7px;
      margin-bottom: 4px;
}
